# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
/.venv
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Docker
docker-compose.override.yml
.env

# Postgres dumps/backups
/db/*.sql

# Node
node_modules/
frontend/.next/
frontend/.out/
frontend/.turbo/

# Logs
*.log
